<div class="login-container">
    <mat-card class="login-card">
        <mat-card-header>
            <mat-card-title>Bienvenido al Sistema</mat-card-title>
            <mat-card-subtitle>Ingresa tus credenciales para continuar</mat-card-subtitle>
        </mat-card-header>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-content">
            
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Correo electrónico</mat-label>
                <input type="email" matInput formControlName="emailFormControl" placeholder="ejemplo@correo.com">
                @if (emailFC?.hasError('email') && !emailFC?.hasError('required')) {
                    <mat-error>Ingrese una dirección de correo válida</mat-error>
                }
                @if (emailFC?.hasError('required')) {
                    <mat-error>El correo es <strong>obligatorio</strong></mat-error>
                }
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Contraseña</mat-label>
                <input type="password" matInput formControlName="passwordFormControl" placeholder="********">
                @if (passwordFC?.hasError('minlength') && !passwordFC?.hasError('required')) {
                    <mat-error>Mínimo 8 caracteres</mat-error>
                }
                @if (passwordFC?.hasError('required')) {
                    <mat-error>La contraseña es <strong>obligatoria</strong></mat-error>
                }
            </mat-form-field>

            <button mat-raised-button color="primary" class="login-button" [disabled]="!loginForm.valid">
                INICIAR SESIÓN
            </button>
            
            <a href="register-users" class="register-link">¿No tienes una cuenta? Regístrate aquí</a>
        </form>
    </mat-card>
</div>