<div class="register-container">
    <mat-card class="register-card">
        <mat-card-header>
            <mat-card-title>Crea tu Cuenta</mat-card-title>
            <mat-card-subtitle>Ingresa tus datos personales para acceder al sistema</mat-card-subtitle>
        </mat-card-header>

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form-content">
            
            <div class="form-row">
                <mat-form-field appearance="outline">
                    <mat-label>Nombre(s)</mat-label>
                    <input matInput formControlName="nombre" placeholder="Ej. Juan">
                    @if (nameFC?.hasError('required')) {
                        <mat-error>El nombre es <strong>obligatorio</strong></mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Apellido(s)</mat-label>
                    <input matInput formControlName="apellido" placeholder="Ej. Pérez">
                    @if (lastNameFC?.hasError('required')) {
                        <mat-error>El apellido es <strong>obligatorio</strong></mat-error>
                    }
                </mat-form-field>
            </div>

            <div class="form-row">
                <mat-form-field appearance="outline">
                    <mat-label>Alias</mat-label>
                    <input matInput formControlName="alias" placeholder="Ej. juan12345">
                    @if (aliasFC?.hasError('required')) {
                        <mat-error>El alias es <strong>obligatorio</strong></mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Fecha de Nacimiento</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="fecha_nacimiento">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-hint>MM/DD/YYYY</mat-hint>
                </mat-form-field>
            </div>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Correo electrónico</mat-label>
                <input type="email" matInput formControlName="correo_electronico" placeholder="Ej. pat@example.com">
                @if (emailFC?.hasError('email') && !emailFC?.hasError('required')) {
                    <mat-error>Ingrese un correo electrónico válido</mat-error>
                }
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Contraseña</mat-label>
                <input type="password" matInput formControlName="contrasena" placeholder="********">
                @if (passwordFC?.hasError('minlength')) {
                    <mat-error>Debe contener al menos 8 caracteres</mat-error>
                }
            </mat-form-field>

            <div class="gender-section">
                <label>Género: </label>
                <mat-radio-group formControlName="genero" class="gender-radiogroup">
                    <mat-radio-button value="M">Masculino</mat-radio-button>
                    <mat-radio-button value="F">Femenino</mat-radio-button>
                    <mat-radio-button value="X">Otro</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="file-section">
                <label>Foto de Perfil:</label>
                <input type="file" (change)="onFileSelected($event)" accept=".jpg,.png" />
            </div>

            <button mat-raised-button color="primary" class="register-button" [disabled]="!registerForm.valid">
                REGISTRAR CUENTA
            </button>
            
            <a href="login" class="login-link">¿Ya tienes una cuenta? Inicia sesión aquí</a>
        </form>
    </mat-card>
</div>